/* ======= Fonts ======= */

@font-face {
font-family: "Typesauce";
src: url("../fonts/Typesauce.eot"); 
src: url("../fonts/Typesauce.eot?#iefix") format("embedded-opentype"),
     url("../fonts/Typesauce.woff") format("woff"),
     url("../fonts/Typesauce.ttf") format("truetype");
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "AvernusURWBol";
src: url("../fonts/AvernusURW-Bol.eot"); 
src: url("../fonts/AvernusURW-Bol.eot?#iefix") format("embedded-opentype"),
     url("../fonts/AvernusURW-Bol.woff") format("woff"),
     url("../fonts/AvernusURW-Bol.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "Cambria";
src: url("../fonts/Cambria.eot"); 
src: url("../fonts/Cambria.eot?#iefix") format("embedded-opentype"),
     url("../fonts/Cambria.woff") format("woff"),
     url("../fonts/Cambria.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "Futura PT Book";
src: url("../fonts/FuturaPT-Book.eot"); 
src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"),
     url("../fonts/FuturaPT-Book.woff") format("woff"),
     url("../fonts/FuturaPT-Book.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "Futura PT Heavy";
src: url("../fonts/FuturaPT-Heavy.eot"); 
src: url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"),
     url("../fonts/FuturaPT-Heavy.woff") format("woff"),
     url("../fonts/FuturaPT-Heavy.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "Futura PT Demi";
src: url("../fonts/FuturaPT-Demi.eot"); 
src: url("../fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"),
     url("../fonts/FuturaPT-Demi.woff") format("woff"),
     url("../fonts/FuturaPT-Demi.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "Futura PT Light";
src: url("../fonts/FuturaPT-Light.eot"); 
src: url("../fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"),
     url("../fonts/FuturaPT-Light.woff") format("woff"),
     url("../fonts/FuturaPT-Light.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "Futura PT Medium";
src: url("../fonts/FuturaPT-Medium.eot"); 
src: url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"),
     url("../fonts/FuturaPT-Medium.woff") format("woff"),
     url("../fonts/FuturaPT-Medium.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "Bebas Neue Bold";
src: url("../fonts/bebasneuebold.woff") format("woff"),
     url("../fonts/bebasneuebold.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "Bebas Neue Book";
src: url("../fonts/bebasneuebook.woff") format("woff"),
     url("../fonts/bebasneuebook.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "Bebas Neue Light";
src: url("../fonts/bebasneuelight.woff") format("woff"),
     url("../fonts/bebasneuelight.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
font-family: "Bebas Neue Regular";
src: url("../fonts/bebasneueregular.woff") format("woff"),
     url("../fonts/bebasneueregular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
font-family: "Bebas Neue Thin";
src: url("../fonts/bebasneuethin.woff") format("woff"),
     url("../fonts/bebasneuethin.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

/* ======= Scroll ======= */

::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color: #26282c;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 14px;
}

body {
  font-family: 'Futura PT Book', arial, sans-serif;
  color: white;
  background-color: rgb(3, 12, 44);
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
p {
  margin-bottom: 15px;
  line-height: 1.5;
}
a {
  color: #3aa7aa;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #5296eb;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
img {
  pointer-events: none;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 200vh;
  z-index: 8;
}
/* ======= PreLoader ======= */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1001;
  opacity: 1;
  visibility: visible;
}
.preloader .back-1 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: #26282c;
  z-index: 1001;
  display: flex;
  align-items: flex-end;
}
.preloader .back-2 {
  position: fixed;
  top: 50%;
  width: 100%;
  height: 50%;
  background-color: #26282c;
  z-index: 1001;
}
.preloader .back-1 .title {
  width: 100%;
  font-family: "Typesauce";
  font-size: 32px;
  text-align: center;
  visibility: visible;
  opacity: 1;
}
.preloader .back-1 .loader {
  visibility: visible;
  opacity: 1;
}
.grid-big {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;
  width: 45px;
  height: 45px;
  margin: 0 auto;
}
.cell-2 {
  width: 5px;
  height: 5px;
  background: #030c2c;
  border-radius: 50%;
  margin: 2px;
}

.cell-2:nth-child(1) {
  animation: quick-glow 2.5s 0s infinite linear;
  -webkit-animation: quick-glow 2.5s 0s infinite linear;
}

.cell-2:nth-child(2) {
  animation: quick-glow 2.5s 0.1s infinite linear;
  -webkit-animation: quick-glow 2.5s 0.1s infinite linear;
}

.cell-2:nth-child(3) {
  animation: quick-glow 2.5s 0.2s infinite linear;
  -webkit-animation: quick-glow 2.5s 0.2s infinite linear;
}

.cell-2:nth-child(4) {
  animation: quick-glow 2.5s 0.3s infinite linear;
  -webkit-animation: quick-glow 2.5s 0.3s infinite linear;
}

.cell-2:nth-child(5) {
  animation: quick-glow 2.5s 0.4s infinite linear;
  -webkit-animation: quick-glow 2.5s 0.4s infinite linear;
}

.cell-2:nth-child(10) {
  animation: quick-glow 2.5s 0.5s infinite linear;
  -webkit-animation: quick-glow 2.5s 0.5s infinite linear;
}

.cell-2:nth-child(15) {
  animation: quick-glow 2.5s 0.6s infinite linear;
  -webkit-animation: quick-glow 2.5s 0.6s infinite linear;
}

.cell-2:nth-child(20) {
  animation: quick-glow 2.5s 0.7s infinite linear;
  -webkit-animation: quick-glow 2.5s 0.7s infinite linear;
}

.cell-2:nth-child(25) {
  animation: quick-glow 2.5s 0.8s infinite linear;
  -webkit-animation: quick-glow 2.5s 0.8s infinite linear;
}

.cell-2:nth-child(24) {
  animation: quick-glow 2.5s 0.9s infinite linear;
  -webkit-animation: quick-glow 2.5s 0.9s infinite linear;
}

.cell-2:nth-child(23) {
  animation: quick-glow 2.5s 1s infinite linear;
  -webkit-animation: quick-glow 2.5s 1s infinite linear;
}

.cell-2:nth-child(22) {
  animation: quick-glow 2.5s 1.1s infinite linear;
  -webkit-animation: quick-glow 2.5s 1.1s infinite linear;
}

.cell-2:nth-child(21) {
  animation: quick-glow 2.5s 1.2s infinite linear;
  -webkit-animation: quick-glow 2.5s 1.2s infinite linear;
}

.cell-2:nth-child(16) {
  animation: quick-glow 2.5s 1.3s infinite linear;
  -webkit-animation: quick-glow 2.5s 1.3s infinite linear;
}

.cell-2:nth-child(11) {
  animation: quick-glow 2.5s 1.4s infinite linear;
  -webkit-animation: quick-glow 2.5s 1.4s infinite linear;
}

.cell-2:nth-child(6) {
  animation: quick-glow 2.5s 1.5s infinite linear;
  -webkit-animation: quick-glow 2.5s 1.5s infinite linear;
}

.cell-2:nth-child(7) {
  animation: quick-glow 2.5s 1.6s infinite linear;
  -webkit-animation: quick-glow 2.5s 1.6s infinite linear;
}

.cell-2:nth-child(8) {
  animation: quick-glow 2.5s 1.7s infinite linear;
  -webkit-animation: quick-glow 2.5s 1.7s infinite linear;
}

.cell-2:nth-child(9) {
  animation: quick-glow 2.5s 1.8s infinite linear;
  -webkit-animation: quick-glow 2.5s 1.8s infinite linear;
}

.cell-2:nth-child(14) {
  animation: quick-glow 2.5s 1.9s infinite linear;
  -webkit-animation: quick-glow 2.5s 1.9s infinite linear;
}

.cell-2:nth-child(19) {
  animation: quick-glow 2.5s 2s infinite linear;
  -webkit-animation: quick-glow 2.5s 2s infinite linear;
}

.cell-2:nth-child(18) {
  animation: quick-glow 2.5s 2.1s infinite linear;
  -webkit-animation: quick-glow 2.5s 2.1s infinite linear;
}

.cell-2:nth-child(17) {
  animation: quick-glow 2.5s 2.2s infinite linear;
  -webkit-animation: quick-glow 2.5s 2.2s infinite linear;
}

.cell-2:nth-child(12) {
  animation: quick-glow 2.5s 2.3s infinite linear;
  -webkit-animation: quick-glow 2.5s 2.3s infinite linear;
}

.cell-2:nth-child(13) {
  animation: quick-glow 2.5s 2.4s infinite linear;
  -webkit-animation: quick-glow 2.5s 2.4s infinite linear;
}
@keyframes quick-glow {
  15% {
    z-index: 99;
    background: #5296eb;
    box-shadow: 0 0 5px 1px #5296eb;
  }
}@-webkit-keyframes quick-glow {
  15% {
    z-index: 99;
    background: #5296eb;
    box-shadow: 0 0 5px 1px #5296eb;
  }
}
/* ======= Header ======= */
.header {
  position: fixed;
  width: 100vw;
  height: 80px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: all 0.5s ease;
  z-index: 1000;
}
.header.header-scrolled {
  background: #26282c;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
.header a {
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.header a:hover {
  text-decoration: none;
}
.header .logo {
  font-family: "Typesauce";
  font-size: 32px;
}
.header .navbar .navbar-nav {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}
.header .navbar .navbar-nav a:hover, 
.header .navbar .navbar-nav .active {
  color: #5296eb;
  transition: all 0.2s ease;
}
.header .navbar .navbar-nav .nav-item a {
  margin-right: 40px;
  padding: 0;
}
/* ====== Footer ====== */
.footer {
  background: #26282c;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 0;
}
.footer a {
  color: #40babd;
}
.footer .fa-heart {
  color: #EA5395;
}
/* ======= Main ======= */
.main-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgb(24, 41, 100), rgb(3, 12, 44)), 
              -webkit-linear-gradient(top, rgb(24, 41, 100), rgb(3, 12, 44));
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-section .container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.main-section .container .title {
  padding-top: 7em;
  padding-left: 8%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-section .container .title .shortdis {
  text-align: center;
  padding: 0;
  margin: 4em auto;
}
.main-section .container .title .button {
  position: relative;
  margin: 0 auto;
  color: white;
  background-color: rgb(18, 49, 157);
  border: 2px #3059e7 solid;
  padding: 14px 70px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
  opacity: 0;
}
.main-section .container .title .button:hover {
  background: none;
  color: #5296eb;
}
.main-section .container .image {
  width: 50%;
  display: flex;
  align-items: center;
}
.main-section .container .image img {
  width: 150%;
  margin-left: -7em;
  animation: moves 4s infinite ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 9;
}
@keyframes moves {
from {transform: translateY(-2em);}
50% {transform: translateY(1em);}
to {transform: translateY(-2em);}
}
.main-section .container .title .name {
  text-align: center;
  font-family: "Typesauce";
  font-size: 50px;
  max-width: 455px;
  margin: 0 auto;
  margin-top: 2em;
}
/* ======= About Section ======= */
.about-section {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  text-align: center;
}
.about-section .title {
  font-family: "Typesauce";
  font-size: 50px;
  margin: 1em auto;
}
.about-section .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;
}
.about-section .content h1 {
  font-family: "Typesauce";
  font-size: 60px;
  position: relative;
}
.about-section .content h2 {
  font-family: "AvernusURWBol", sans-serif;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .content p {
  margin: 2em auto;
  opacity: 0;
}
.about-section .content .triangle {
  font-family: "Cambria";
  font-size: 36px;
}
.about-section .content .back {
  width: 50%;
  justify-content: center;
}
.about-section .content .back h1 {
  color: black;
  overflow: hidden; 
}
.about-section .content .back p {
  text-shadow: none;
  color: white;
}
.about-section .content .front {
  width: 50%;
}
/* ======= Service Section ======= */
.service-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient( rgb(3, 12, 44), rgb(24, 41, 100)),
              -webkit-linear-gradient(top, rgb(3, 12, 44), rgb(24, 41, 100));
}
.service-section .title {
  font-family: "Typesauce";
  font-size: 50px;
  margin: 1em auto;
}
.service-section p {
  color: rgb(255, 255, 255, 0.7);
}
.service-section .images {
  margin: 1em auto;
}
.service-section .images img {
  width: 100%;
}
.service-section .foot {
  margin: 1em auto;
}
.service-section .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 3em;
  height: 50%;
}
.service-section .content p {
  min-height: 64.05px;
  height: 15%;
  margin: 1em auto;
}
.service-section .content .layout {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.service-section .content .layout .images img {
  position: relative;
  width: 30%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.service-section .content .layout .images .css {
  margin: 0 -70px;
  z-index: 10;
}
.service-section .content .layout .images .css_ani {
  animation: swipeIn 1s ease-in-out;
}
@keyframes swipeIn {
from {margin: 0 -140px;}
to {margin: 0 -70px;}
}
.service-section .content .layout .fadein {
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}
.service-section .content .wordpress {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.service-section .content .wordpress .images img {
  width: 30%;
}
.service-section .content .website {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.service-section .content .website .images img {
  width: 30%;
}
.service-section .content h2 {
  font-family: "AvernusURWBol", sans-serif;
  font-size: 50px;
  margin: 0 auto;
}
.service-section .content h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.service-section .content h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
/* ======= Service Section ======= */
.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.portfolio-section .title {
  font-family: "Typesauce";
  font-size: 50px;
  margin: 1em auto;
}
.portfolio-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.portfolio-section .projects {
  background: #26282c;
  color: black;
  max-width: 768px;
  margin: 2em auto;
}
.portfolio-section .projects h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
  font-weight: 500;
}
.portfolio-section .projects .blog {
  position: relative;
  top: 0%;
  left: 0%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio-section .projects .blog h2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  margin: 0;
  padding-top: 0%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio-section .projects .blog p {
  position: absolute;
  top: 20%;
  margin: 0;
  padding: 0 5%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio-section .projects .blog img {
  width: 100%;
}
.portfolio-section .projects .blog:hover{
  top: 5%;
  left: 3%;
}
.portfolio-section .projects .blog:hover h2 {
  padding-top: 5%;
  opacity: 1;
}
.portfolio-section .projects .blog:hover p {
  top: 30%;
  opacity: 1;
}
.svg-cta-bottom {
  width: 100%;
  max-height: 500px;
}
/* ======= Contact Section ======= */
.contact-section {
  height: 20vh;
  background-color: #182964;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section .container {
  width: 100%;
  text-align: center;
  margin: 1em auto;
}
.contact-section .container .email {
  position: relative;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.tooltiptext {
  visibility: hidden;
  font-size: 15px;
  font-family: 'Futura PT Book', arial, sans-serif;
  width: 140px;
  background-color: #26282c;
  color: rgb(255, 255, 255, 0.7);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -110%;
  left: -18%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #26282c transparent transparent transparent;
}
.email:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.email:active .tooltiptext {
  visibility: hidden;
  opacity: 0;
}
.contact-section .container a {
  background-color: rgb(3, 12, 44);
  font-size: 70px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 5%;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact-section .container a i {
  padding: 12px;
}
.contact-section .container a:hover {
  background-color: #26282c;
  color: white;
}
.contact-section .container a:hover i {
  animation: social 0.5s ease;
}
@keyframes social {
from {transform: rotate(0deg);}
to {transform: rotate(360deg);}
}
/* ======= Adaptive ======= */
@media (max-width: 1500px) {
  .about-section .content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .about-section .content .back,
  .about-section .content .front {
    width: 40%;
    margin: 0 auto;
  }
  .about-section .content .image {
    margin-right: 0;
    width: 100%;
    order: 1;
  }
}

@media (max-width: 1200px) {
  .main-section, .about-section, .service-section, .contact-section {
    height: auto;
    padding: 0 15px;
  }
  .portfolio-section {
    height: auto;
  }
  .service-section {
    height: auto;
  }
  .service-section .content {
    flex-direction: column;
  }
  .service-section .content p {
    margin: 10px auto !important;
  }
  .service-section .content .images {
    max-width: 800px;
  }
  .service-section .content .layout .images .css {
    margin: 0 -140px;
    z-index: 10;
  }
  @keyframes swipeIn {
  from {margin: 0 -200px;}
  to {margin: 0 -140px;}
  }
  .service-section .content .layout,
  .service-section .content .wordpress,
  .service-section .content .website {
    width: 100%
  }
  .portfolio-section .projects {
    margin: 0 15px;
  }
  .main-section .container {
    flex-direction: column;
  }
  .main-section .container .title,
  .main-section .container .image {
    width: 100%;
  }
  .main-section .container .image img {
    width: 100%;
    margin-left: 0;
    margin-top: calc(0px + (-100 - 0) * ( (100vw - 320px) / ( 1200 - 320) ));
  }
  .main-section .container .title {
    padding: 0;
    padding-top: 5em; 
  }
  .main-section .container .title .name {
    margin-bottom: 1em;
  }
  .main-section .container .title .shortdis {
    margin: calc(20px + (80 - 20) * ( (100vw - 320px) / ( 1200 - 320) ));
  }
  .service-section .content h2,
  .service-section .content h3 {
    font-size: calc(43px + (50 - 43) * ( (100vw - 720px) / ( 1200 - 720) ));
  }
  .service-section .content h4 {
    font-size: calc(27px + (40 - 27) * ( (100vw - 720px) / ( 1200 - 720) ));
  }
}

@media (max-width: 992px) {
  .header.mobile {
    width: 100%;
    height: 100%;
    background: #26282c;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
  }
  .header .navbar .nav-item .nav-link {
    margin: 10px 0 !important;
    font-size: 25px;
  }
  .service-section .content .layout .images .css {
    margin: 0 calc(-30px + (-140 - -30) * ( (100vw - 320px) / ( 992 - 320) ));
    z-index: 10;
  }
  @keyframes swipeIn {
  from {margin: 0 calc(-40px + (-200 - -40) * ( (100vw - 320px) / ( 992 - 320) ));;}
  to {margin: 0 calc(-30px + (-150 - -30) * ( (100vw - 320px) / ( 992 - 320) ));;}
  }
  .portfolio-section .projects h2 {
    font-size: calc(9px + (40 - 9) * ( (100vw - 320px) / ( 992 - 320) ));
  }
  .portfolio-section .projects p {
    font-size: calc(6px + (20 - 6) * ( (100vw - 320px) / ( 992 - 320) ));
  }
}
@media (max-width: 720px) {
  .about-section .content .back,
  .about-section .content .front {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .about-section .content h1 {
    width: 100%;
  }
  .about-section .content h2 {
    width: 50%;
    font-size: calc(25px + (50 - 25) * ( (100vw - 320px) / ( 720 - 320) ));
    justify-content: flex-start;
  }
}
@media (max-width: 500px) {
  .main-section .container .title .name,
  .about-section .title,
  .service-section .title,
  .portfolio-section .title,
  .service-section .content h2,
  .service-section .content h3 {
    font-size: calc(30px + (50 - 30) * ( (100vw - 320px) / ( 500 - 320) ));
  }
  .about-section .content h2 .triangle {
    font-size: calc(18px + (36 - 18) * ( (100vw - 320px) / ( 500 - 320) ));
  }
  .service-section .content h4,
  .about-section .content h1 {
    font-size: calc(22px + (40 - 22) * ( (100vw - 320px) / ( 500 - 320) ));
  }
  .main-section .container .title p,
  .main-section .container .title .button,
  .about-section .content p,
  .service-section p {
    font-size: calc(16px + (22 - 16) * ( (100vw - 320px) / ( 500 - 320) ));
  }
  .contact-section a {
    font-size: calc(60px + (70 - 60) * ( (100vw - 320px) / ( 500 - 320) )) !important;
  }
  .main-section .container .title .button {
    padding: calc(7px + (14 - 7) * ( (100vw - 320px) / ( 500 - 320) )) 
             calc(40px + (70 - 40) * ( (100vw - 320px) / ( 500 - 320) ));
  }
}